html {
    background-color:lightgray;
    margin:0;
    min-height: 100%;
}

/*Entire Webpage*/

body {
    font-family: Cambria;
    margin: 0;
}

/*Header*/

header {
    align-items: center;
    background-color:darkslategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Name*/

h1 {
    background-color:lightblue;
    color: darkslategray;
    font-size: 60px;
    font-style: bold;
    justify-content:left;
    margin-left: 20px;
}

/* Navigation Bar (About Me, Work, Contact Me, Resume) */

.headnav {
    color:lightblue;
    font-size: 36px;
    font-style: bold underline;
    margin-right: 20px;
}

nav ul {
    align-items: end;
    color: lightblue;
    display: flex;
    justify-content: flex-end;
    list-style: none;  
}

nav ul li {
    margin-right: 10px;
}

/*Content Sections and Titles*/

section {
    display: flex;
}

/* Subtitle Section */

.subtitlesection {
    background-color: slategray;
    height: 50%;
    justify-content: flex-end;
    width: 100%;
}

/*Intro Section Subtitle Text*/

section h3 {
    background-color: lightblue;
    border: 10px solid lightblue;
    color: darkslategray;
    font-size:36px;
    justify-content: flex-end;
}

/*Titles for each section*/

section h2 {
    border-right: 5px solid darkblue;
    color: darkslategray;
    flex: 0 0 20%;
    font-size: 36px;
    justify-content: flex-end;
    margin-right: 24px;
    padding: 5px;
}

section p {
    font-size: 18px;
}

/*Wrapping for images*/

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*Image Cards*/

.portfolio {
    background-color: black;
    border: 5px solid lightblue;
    flex: 0 0 45%;
    height: 400px;
    margin: 10px;
    width: 100%;
}

/*First Image Card*/

.portfolio-lead {
    flex: 0 0 100%;
}

/*Footer*/

footer {
    display:flex;
}

/*Footer Title (Contact Me)*/

footer h2 {
    border-right: 5px solid darkblue;
    color: darkslategray;
    flex: 0 0 20%;
    font-size: 36px;
    margin-right: 24px;
    padding: 5px;
}

/*Footer Items*/

footer ul {
    display:flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

footer ul li {
    font-size:24px;
    margin-right: 24px;
}